<!DOCTYPE HTML>
<html>
	<head>
		<script type="text/javascript" src="jquery-1.10.2.min.js"></script>
	</head>
	<body>
		<p>Web audio API example: load a sound file and play/stop it on a button click.</p>
  <button onclick="initContext()">Init</button>
  <button onclick="loadSoundA(url)">Load</button>
  <button onclick="playSound(myAudioBuffer,109.747,10.288)">Play</button>
  <button onclick="stopSound()">Stop</button>
		<script type="text/javascript">
		var context;
		var audioBufferA = null;
		var audioBufferB = null;
		var source = null;
		
		var ASource;
		var BSource;
		var AStartTime;
		var BStartTime;
		var ASourceData;
		var BSourceData;
		
		$(document).ready( function() {
			
			function initContext() {
			  try {
				// Fix up for prefixing
				window.AudioContext = window.AudioContext||window.webkitAudioContext;
				context = new AudioContext();
			  }
			  catch(e) {
				alert('Web Audio API is not supported in this browser');
			  }
			}
			
			initContext();
			console.log("Worked");
		});
		
		function grabAInfo()
		{
			$.get("http://only-the-hooks.herokuapp.com/get_a_track", function(data) 
			{
				ASourceData = data;
			});
		}
		
		function grabBInfo()
		{
			$.get("http://only-the-hooks.herokuapp.com/get_a_track", function(data) 
			{
				BSourceData = data;
			});
		}
		
			function PlaySource(source, time)
			{
				source.start(0, time);
				return context.currentTime - time;
			}
			
			function StopSource(source, time)
			{
				source.stop(time);
			}
			function getSource(buffer)
			{
				var source = context.createBufferSource();
				source.buffer = buffer;
				source.connect(context.destination);
				return source;
			}
		
		function playFirstSound(url) {
			var request = new XMLHttpRequest();
			request.open('GET', ASourceData.url, true);
			request.responseType = 'arraybuffer';
			request.onload = function() {
				context.decodeAudioData(request.response, function(buffer) {
					ASource = getSource(buffer);
					AStartTime = PlaySource(ASource,0);
					
				});
			}
			request.send();
		}
		function findNextIntervalB(source1, starttime, source2, sourceData) {
				var checktime = context.currentTime - starttime;
				var i = 0;
				while (checktime < sourceData.intervals[i].end_time)
				{
					i += 1;
				}
				var endTime = sourceData.intervals[i].end_time;
				StopSource(source1, starttime + endTime);
				BStartTime = PlaySource(source2, 0);
				loadSoundA(url);
				
			}
			


		
			function loadSoundB() {
				var request = new XMLHttpRequest();
				request.open('GET', BSourceData.url, true);
				request.responseType = 'arraybuffer';
				request.onload = function() {
					context.decodeAudioData(request.response, function(buffer) {
						BSource = getSource(buffer);
						findNextIntervalB(ASource, AStartTime, BSource, ASourceData);
						
					});
				}
				request.send();
			}
			
			function findNextIntervalB(source1, starttime, source2, sourceData) {
				var checktime = context.currentTime - starttime;
				var i = 0;
				while (checktime < sourceData.intervals[i].end_time)
				{
					i += 1;
				}
				var endTime = sourceData.intervals[i].end_time;
				StopSource(source1, starttime + endTime);
				BStartTime = PlaySource(source2, 0);
				loadSoundA(urlA);
				
			}
			
			function findNextIntervalA(source1, starttime, source2, sourceData) {
				var checktime = context.currentTime - starttime;
				var i = 0;
				while (checktime < sourceData.intervals[i].end_time)
				{
					i += 1;
				}
				var endTime = sourceData.intervals[i].end_time;
				StopSource(source1, starttime + endTime);
				AStartTime = PlaySource(source2, 0);
				loadSoundA(urlB);
				
			}
			
			function loadSoundA(url) {
				var request = new XMLHttpRequest();
				request.open('GET', ASourceData.url, true);
				request.responseType = 'arraybuffer';
				request.onload = function() {
					context.decodeAudioData(request.response, function(buffer) {
						BSource = getSource(buffer);
						findNextIntervalA(BSource, BStartTime, ASource, BSourceData);
						
					});
				}
				request.send();
			}

		

		</script>
	</body>
</html>